@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

    
body {
    background-color: #1f1d28;
    background-image: url(./images/bg-stars.svg);
}

#main {
    display: none;
}

#end {
    display: none;
}

.img-container {
    width:30rem;
    margin: 0 auto;
    padding:5%;
}
.img-container img {
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}


.background {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  color: #f0f0f0;
  line-height: 180%;
  text-align: center;
  
  
  height: 100%;
}

.text-container {
    position: fixed;
    width:90%;
    max-width: 800px;
    left: 50%;
    bottom:10%;
    transform: translate(-50%,0);

}
.text-container img {
    position: absolute;
    width:15rem;
    left:0;
    top:-15rem;
}


.box {

    position: relative;
    padding: 0 1.5rem;
    border-radius: 0.3rem;
 

    height: 180px;
    background-color: #191919;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
    
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;

    
}


.box .name {
    font-weight: 500;
}

.icon-next {
    position: absolute;
    z-index: 5;
    right: 2%;
    top: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    border: none;

    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-image: url(./images/bt-next.svg);
}

.icon-next:hover {
    
    
    background-color: rgba(255, 255, 255, 0.1);
}

[data-tooltip-text]:hover:after {
	content: attr(data-tooltip-text);

    position: absolute;
	bottom: 100%;
	left:0;
    width:100%;
    
    background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	font-size: 12px;
    border-radius: 2px;
	z-index: 9999;
}


p {
   
}

